@page
@model GroupProject_WebPage.NewFolder.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.CohortID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.CohortID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.RoleID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.RoleID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Users.UserID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
